body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: helvetica, arial,sans-serif;
}

.wrapper{
    margin: 0;
    padding: 20px;
    width: 150px;
    background: #ccc;
    cursor: pointer;
}

.wrapper>li[class="title"]+li{
    margin-bottom: 10px;
}

li{
    text-align: center;
}
